<ul>
  <li>
  <strong><%= comment.user.username %>:</strong>
  <%= comment.content %>
  <%= link_to "Reply", comment_url(comment) %>
</li>
<% all_comments.each do |child| %>
  <% if child.comment_id == comment.id %>
    <%= render "comments/nested", comment: child, all_comments: all_comments %>
  <% end %>
<% end %>
</ul>
