<ul>
  <li>
  <strong><%= comment.user.username %>:</strong>
  <%= comment.content %>
  <%= link_to "Reply", comment_url(comment) %>
</li>
<% all_comments[comment.id].each do |comment| %>
    <%= render "comments/nested", comment: comment, all_comments: all_comments %>
<% end %>
</ul>
